<!DOCTYPE html>
<html>
<head>
<script>

</script>
</head>
<body>
    <center>
    <form method="POST">
    <table border="1" width="600">
<tr>
<td>Age:</td><td><input type="number" name="age" min="1" max="99"></td>
</tr>
<tr>
<td>Gender:0 for Female; 1 for Male</td><td><input type="number" name="gender" min="0" max="1"></td>
</tr>
<tr>
<td>Income:</td><td><input type="number" name="income"></td>
</tr>
<tr>
<td>Press To Submit:</td><td><input type="submit" value="Press"></td>
</tr>
<tr>
<td>Output:</td><td><label>{{ href2 }}</label></td>
</tr>
    </table>
    </form>
  </center>

</body>
</html>